---
title: "Stop Killing the Internet: No Digital ID and No Age Verification"
date: 2026-07-28T14:58:15+00:00
external_url: "https://citizens-initiative.europa.eu/initiatives/details/2026/000011_en"
source: "https://hnrss.org/frontpage"
source_name: "Hacker News"
source_slug: "hacker-news"
categories:
  - "general"
time_ago: "1h"
article_hash: "8bbc0649e099"
---
