---
title: "Open source calculator firmware DB48X forbids CA/CO use due to age verification"
date: 2026-02-27T15:37:53+00:00
external_url: "https://github.com/c3d/db48x/commit/7819972b641ac808d46c54d3f5d1df70d706d286"
source: "https://hnrss.org/frontpage"
source_name: "Hacker News"
source_slug: "hacker-news"
categories:
  - "general"
time_ago: "3h"
article_hash: "a414c8db41c6"
---
