---
title: "US Bill Mandates On-Device Age Verification"
date: 2026-04-17T02:50:02+00:00
external_url: "https://reclaimthenet.org/us-bill-mandates-on-device-age-verification"
source: "https://hnrss.org/frontpage"
source_name: "Hacker News"
source_slug: "hacker-news"
categories:
  - "world"
time_ago: "3h"
article_hash: "8a8da4ba7fc8"
---
