---
title: "Yep, it’s fast: Donut Lab’s solid-state battery gets its first test result"
date: 2026-02-23T15:54:06+00:00
external_url: "https://www.theverge.com/transportation/882993/donut-labs-solid-state-battery-charge-speed-vtt-test"
source: "https://www.theverge.com/rss/index.xml"
source_name: "The Verge"
source_slug: "the-verge"
categories:
  - "general"
time_ago: "36m"
article_hash: "496836603020"
---
