<header class="site-header">
  <div class="container">
    <a href="{{ "/" | relURL }}" class="site-title">{{ .Site.Title }}</a>
    <nav>
      <a href="{{ "/categories/technology/" | relURL }}">Tech</a>
      <a href="{{ "/categories/business/" | relURL }}">Business</a>
      <a href="{{ "/categories/politics/" | relURL }}">Politics</a>
      <a href="{{ "/categories/world/" | relURL }}">World</a>
      <a href="{{ "/categories/sport/" | relURL }}">Sport</a>
      <a href="{{ "/categories/science/" | relURL }}">Science</a>
      <a href="{{ "/categories/health/" | relURL }}">Health</a>
      <a href="{{ "/categories/entertainment/" | relURL }}">Entertainment</a>
      <a href="{{ "/categories/environment/" | relURL }}">Environment</a>
    </nav>
  </div>
</header>
